@model IEnumerable<NGOProject.Models.ticket>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.buyerPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.buyerAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.totalAdult)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.totalChildren)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.totalPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.eventsTable.eventDescription)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.buyerPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.buyerAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.totalAdult)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.totalChildren)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.totalPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.user.firstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.eventsTable.eventDescription)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ticketID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ticketID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ticketID })
        </td>
    </tr>
}

</table>
